<section class="hero has-background-grey-lighter">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <form class="box">
                        <label class="label is-large" class="label">Create New
                            Blog Post</label>
                        <div class="field">
                            <label class="label">Subject / Title</label>
                            <div class="control">
                                <input
                                    type="text"
                                    placeholder="10 Ways Express.js Makes Creating REST API's Easier"
                                    class="input subject-input"
                                    required
                                />
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">Content</label>
                                <div class="control">
                                    <textarea
                                        class="textarea content-input"
                                        placeholder="Building an API is a rewarding way to allow data to flow between apps and create compelling functionality in your latest project without having to start from scratch..."
                                        required
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-right mt-3">
                            <button class="button is-success submit-post">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero has-background-grey-lighter hug">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <form class="box">
                        <table
                            class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
                        >
                            <thead>
                                <tr>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">Title</th>
                                    <th class="table-author">Author</th>
                                    <th class="table-created">Created</th>
                                    <th class="table-edit">Edit</th>
                                    <th class="table-delete">Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each posts}}
                                    <tr>
                                        <td>{{this.id}}</td>
                                        <td><a
                                                href="/post/{{this.id}}"
                                            >{{this.title}}</a></td>
                                        <td>{{this.user.username}}</td>
                                        <td>{{format_time this.createdAt}}</td>
                                        <td><a
                                                href="/edit/{{this.id}}"
                                            >Edit</a></td>
                                        <td><a
                                                class="delete-post"
                                                data-id="{{this.id}}"
                                            >Delete</a></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/dashboard.js"></script>